<% include ./partials/header %>
<% include ./partials/navbar %>



  <!-- Page Content -->
  <div class="container">
    <div class="row">
<h2 style="color:#fd7e14;">Interns Post</h2>
    <table class="table" id="table_id">
<thead>
  <tr>
    <th>
      <h2 style="color: #fd7e14;">Interns Post</h2>
    </th>
  </tr>
  <tr>
  </thead>
    <tbody>
      <% for(let i=0; i < post.length; i++){ %>
        <tr>
          <th>
        <!-- Blog Post -->
        <div class="card mb-4">
                <div class="card-body">
                    <div class="col-lg-12">
                      <!-- <%= post%> -->
                      
                      <h2 class="card-title" style="color: rgb(86, 90, 94);"><%= post[i].title %></h2>
                      <p class="card-text"><%= post[i].message %></p>

                  
                <div class="card-footer text-muted">
                  Posted By <%= post[i].fullName %>
                 Posted on <%= post[i].creationDate %>
               
              </th>
            </tr>
                <%}%>
          </tbody>
    </table>
  </div>

</div>
</div>
</div>
    
</div>
</div>
  
  </div>

    
<!-- <button class="btn-link reaction-summary-item tooltipped tooltipped-se tooltiped-multiline" name="input[content]" type="submit" value="THUMBS_UP react" aria-label="ychongsaytc, tonnoz, and onns with thumbs up emoji">
  <g-emoji alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png" class="emoji mr-1"><img class="emoji" alt='+1' height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png"></g-emoji>
  3 likes
</button> -->


<!-- app_id = "945777"
key = "f7d25b0166fd561268ec"
secret = "323478f3c7447457fb6a"
cluster = "eu" -->

  <!-- /.container -->
<% include ./partials/footer %>